<app-page-header [title]="'Time line'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-8">
        <div class="card">
            <div class="tab-menu-heading p-0 border-0">
                <div class="tabs-menu1 px-3">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active">
                        <li [ngbNavItem]="1"><a ngbNavLink>Post</a><ng-template ngbNavContent></ng-template></li>
                        <li [ngbNavItem]="2"><a ngbNavLink>Albums</a><ng-template ngbNavContent></ng-template></li>
                        <li [ngbNavItem]="3"><a ngbNavLink>Videos</a><ng-template ngbNavContent></ng-template></li>
                    </ul>
                </div>
            </div>
            <div class="card-body d-flex border-top">
                <div class="me-4"><img alt="" class="rounded-circle avatar avatar-md"
                        src="./assets/images/users/16.jpg"></div>
                <form class="profile-edit w-100">
                    <textarea class="form-control" placeholder="What are you doing right now?" rows="5"></textarea>
                    <div class="profile-share border-top-0">
                        <div class="mt-2">
                            <a href="javascript:;" class="me-2" title="" placement="top" ngbTooltip="Audio"><span
                                    class="feather feather-mic fs-16 text-muted"></span></a>
                            <a href="javascript:;" class="me-2" title="" placement="top" ngbTooltip="Video"><span
                                    class="feather feather-video fs-16 text-muted"></span></a>
                            <a href="javascript:;" class="me-2" title="" placement="top" ngbTooltip="Picture"><span
                                    class="feather feather-image fs-16 text-muted"></span></a>
                        </div>
                        <button class="btn btn-sm btn-success ms-auto"><i class="fa fa-share ms-1"></i> Share</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex">
                    <div class="media mt-0">
                        <div class="media-user me-2">
                            <div class=""><img alt="" class="rounded-circle avatar avatar-md"
                                    src="./assets/images/users/16.jpg"></div>
                        </div>
                        <div class="media-body">
                            <h6 class="mb-0 mt-1">Peter Hill</h6>
                            <small class="text-muted">just now</small>
                        </div>
                    </div>
                    <div class="ms-auto" ngbDropdown>
                        <div>
                            <a class="new option-dots no-caret" href="JavaScript:void(0);" ngbDropdownToggle>
                                <span class="feather feather-more-vertical"></span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-end">
                                <a class="dropdown-item" href="javascript:;">Edit Post</a>
                                <a class="dropdown-item" href="javascript:;">Delete Post</a>
                                <a class="dropdown-item" href="javascript:;">Personal Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="media mt-0">
                    <div class="media-user me-2">
                        <div class="avatar-list avatar-list-stacked">
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/12.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/9.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/4.jpg)"></span>
                            <span class="avatar brround">+28</span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0 mt-2 ms-2">28 people like your photo</h6>
                    </div>
                    <div class="ms-auto">
                        <div class="d-flex mt-1">
                            <a ngbTooltip="heart" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-heart"></span></a>
                            <a ngbTooltip="message" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-message-square"></span></a>
                            <a ngbTooltip="share" class="new text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-share-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex">
                    <div class="media mt-0">
                        <div class="media-user me-2">
                            <div class=""><img alt="" class="rounded-circle avatar avatar-md"
                                    src="./assets/images/users/16.jpg"></div>
                        </div>
                        <div class="media-body">
                            <h6 class="mb-0 mt-1">Peter Hill</h6>
                            <small class="text-muted">Sep 26 2019, 10:14am</small>
                        </div>
                    </div>
                    <div class="ms-auto" ngbDropdown>
                        <div>
                            <a class="new option-dots no-caret" href="JavaScript:void(0);" ngbDropdownToggle>
                                <span class="feather feather-more-vertical"></span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-end">
                                <a class="dropdown-item" href="javascript:;">Edit Post</a>
                                <a class="dropdown-item" href="javascript:;">Delete Post</a>
                                <a class="dropdown-item" href="javascript:;">Personal Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.</p>
                    <div class="d-flex">
                        <img src="./assets/images/photos/2.jpg" alt="img" class="w-40 m-1">
                        <img src="./assets/images/photos/3.jpg" alt="img" class="w-40 m-1">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="media mt-0">
                    <div class="media-user me-2">
                        <div class="avatar-list avatar-list-stacked">
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/12.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/9.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/4.jpg)"></span>
                            <span class="avatar brround">+28</span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0 mt-2 ms-2">28 people like your photo</h6>
                    </div>
                    <div class="ms-auto">
                        <div class="d-flex mt-1">
                            <a ngbTooltip="heart" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-heart"></span></a>
                            <a ngbTooltip="message" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-message-square"></span></a>
                            <a ngbTooltip="share" class="new text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-share-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex">
                    <div class="media mt-0">
                        <div class="media-user me-2">
                            <div class=""><img alt="" class="rounded-circle avatar avatar-md"
                                    src="./assets/images/users/16.jpg"></div>
                        </div>
                        <div class="media-body">
                            <h6 class="mb-0 mt-1">Peter Hill</h6>
                            <small class="text-muted">Sep 24 2019, 09:14am</small>
                        </div>
                    </div>
                    <div class="ms-auto" ngbDropdown>
                        <div>
                            <a class="new option-dots no-caret" href="JavaScript:void(0);" ngbDropdownToggle>
                                <span class="feather feather-more-vertical"></span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-end">
                                <a class="dropdown-item" href="javascript:;">Edit Post</a>
                                <a class="dropdown-item" href="javascript:;">Delete Post</a>
                                <a class="dropdown-item" href="javascript:;">Personal Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.</p>
                    <div class="d-flex">
                        <img src="./assets/images/photos/4.jpg" alt="img" class="w-30 m-1">
                        <img src="./assets/images/photos/5.jpg" alt="img" class="w-30 m-1">
                        <img src="./assets/images/photos/6.jpg" alt="img" class="w-30 m-1">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="media mt-0">
                    <div class="media-user me-2">
                        <div class="avatar-list avatar-list-stacked">
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/12.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/9.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/2.jpg)"></span>
                            <span class="avatar brround"
                                style="background-image: url(./assets/images/users/4.jpg)"></span>
                            <span class="avatar brround">+28</span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0 mt-2 ms-2">28 people like your photo</h6>
                    </div>
                    <div class="ms-auto">
                        <div class="d-flex mt-1">
                            <a ngbTooltip="heart" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-heart"></span></a>
                            <a ngbTooltip="message" class="new me-2 text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-message-square"></span></a>
                            <a ngbTooltip="share" class="new text-muted fs-18" href="JavaScript:void(0);"><span
                                    class="feather feather-share-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mg-b-20 card--events">
            <div class="card-header border-bottom-0">
                <div class="card-title">Trending Posts</div>
            </div>
            <div class="card-body p-0">
                <div class="">
                    <ul class="list-group mb-0">
                        <li class="list-group-item d-flex border-top-0 border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-primary me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Oct 20 <span class="font-weight-semibold">Sunday</span></label>
                                <h5>New Fests Blog</h5>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 4PM</strong> Rew City, USA</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-secondary me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Oct 18 <span class="font-weight-semibold">Friday</span></label>
                                <h6>New Location Visited</h6>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 5PM</strong> Newyork</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-success me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Oct 12 <span class="font-weight-semibold">Saturday</span></label>
                                <h6>Weding Event Dance Show</h6>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 5PM</strong> Japan</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-warning me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Sep 20 <span class="font-weight-semibold">Friday</span></label>
                                <h6>Field day Festival Events Orders</h6>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 4PM</strong> Rew City, USA</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-info me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Sep 25 <span class="font-weight-semibold">Wednesday</span></label>
                                <h6>Christamas Party Event Orders</h6>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 5PM</strong> Newyork</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex border-start-0 border-end-0">
                            <div class="w-3 h-3 bg-danger me-3 mt-1 brround"></div>
                            <div>
                                <label class="fs-12">Sep 30 <span class="font-weight-semibold">Monday</span></label>
                                <h6>New Weding Event Dance Show Orders</h6>
                                <p class="mb-0 text-muted fs-12"><strong>8AM - 5PM</strong> Japan</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>