<app-page-header [title]="'File details'"></app-page-header>

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body px-4 pt-4">
                <a  href="javascript:void(0);"><img src="./assets/images/media/blog-details.jpg" alt="img" class="rounded-5 w-100"></a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class=" card-body ">
                <h5 class="mb-3">File details :</h5>
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive">
                                <table class="table mb-0 border-top table-bordered text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th scope="row">File-name</th>
                                            <td>image.jpg</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">File-size</th>
                                            <td>12.45mb</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">uploaded-date</th>
                                            <td>01-12-2020</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">image-width</th>
                                            <td>1000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">image-height</th>
                                            <td>600</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">File-formate</th>
                                            <td>jpg</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">File-location</th>
                                            <td>storage/photos/image.jpg</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12  col-md-12">
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="mb-3">Recent Files</h5>
                <div class="row row-sm">
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-1.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-2.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-3.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-5.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-6.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-8.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-7.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <img src="./assets/images/media/img-9.jpg" alt="img" height="100%" width="100%" class="rounded-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->