<app-page-header [title]="'Api settings'"></app-page-header>
<!--Row-->
<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <nav ngbNav #nav="ngbNav" class="flex-column admisetting-tabs" orientation="vertical">
                <ng-container ngbNavItem>
                  <a ngbNavLink> <i class="nav-icon las la-share-alt"></i> Social Settings</a>
                  <ng-template ngbNavContent>
                    <div>
                        <div class="card">
                            <div class="card-header  border-0">
                                <h4 class="card-title">Social Settings</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="card border">
                                            <div class="card-header border-0">
                                                <h4 class="card-title">Google Login</h4>
                                                <div class="card-options">
                                                    <label class="custom-switch">
                                                        <input type="checkbox" name="custom-switch-checkbox"
                                                            class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="form-label">Callback URL <span class="clipboard-icon"
                                                            data-clipboard-target="#social1"><i
                                                                class="las la-clipboard"></i></span></label>
                                                    <div class="bg-white border br-7" id="social1">
                                                        <div class="p-3">
                                                            <span>https://www.doamin.com</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Client ID</label>
                                                    <textarea rows="2" class="form-control"
                                                        placeholder="something text here..."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Secret</label>
                                                    <textarea rows="2" class="form-control"
                                                        placeholder="something text here..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card border">
                                            <div class="card-header border-0">
                                                <h4 class="card-title">Facebook Login</h4>
                                                <div class="card-options">
                                                    <label class="custom-switch">
                                                        <input type="checkbox" name="custom-switch-checkbox"
                                                            class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="form-label">Callback URL <span class="clipboard-icon"
                                                            data-clipboard-target="#social2"><i
                                                                class="las la-clipboard"></i></span></label>
                                                    <div class="bg-white border br-7" id="social2">
                                                        <div class="p-3">
                                                            <span>https://www.doamin.com</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Client ID</label>
                                                    <textarea rows="2" class="form-control"
                                                        placeholder="something text here..."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Secret</label>
                                                    <textarea rows="2" class="form-control"
                                                        placeholder="something text here..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:;" class="me-2 btn btn-success">Save Changes</a>
                                <a href="javascript:;" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink><i class="nav-icon lar la-credit-card"></i> Payment Settings</a>
                  <ng-template ngbNavContent>
                    <div>
                        <div class="card">
                            <div class="card-header  border-0">
                                <h4 class="card-title">Paypal Settings</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <label class="form-label">Paypal</label>
                                        </div>
                                        <div class="col-xl-2 pr-0">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="custom-switch-checkbox" id="paypal"
                                                    class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">Enable/Disable</span>
                                            </label>
                                        </div>
                                        <div class="col-xl-7 pl-xl-0">
                                            <span class="d-block fs-12 text-muted">Ut enim ad minim veniam, quis nostrud
                                                exercitation</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="enable-paypal">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <label class="form-label">Test Mode</label>
                                            </div>
                                            <div class="col-xl-2 pr-0">
                                                <label class="custom-switch">
                                                    <input type="checkbox" name="custom-switch-checkbox"
                                                        class="custom-switch-input">
                                                    <span class="custom-switch-indicator"></span>
                                                    <span class="custom-switch-description">Enable/Disable</span>
                                                </label>
                                            </div>
                                            <div class="col-xl-7 pl-xl-0">
                                                <span class="d-block fs-12 text-muted">Ut enim ad minim veniam, quis nostrud
                                                    exercitation</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <label class="form-label mb-0 mt-2">Client ID</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" placeholder="Client ID" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <label class="form-label mb-0 mt-2">Secret</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" placeholder="Secret" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <label class="form-label mb-0 mt-2">Currency</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <ng-select placeholder="Choose Currency"
                                                    class="form-control custom-select">
                                                    <ng-option label="Choose Currency"></ng-option>
                                                    <ng-option value="1">US DOllar(USD)</ng-option>
                                                    <ng-option value="2">European Euro (EUR)</ng-option>
                                                    <ng-option value="3">Japanese Yen (JPY)</ng-option>
                                                    <ng-option value="4">British Pound (GBP)</ng-option>
                                                    <ng-option value="5">Swiss Franc (CHF)</ng-option>
                                                    <ng-option value="6">Canadian Dollar (CAD)</ng-option>
                                                    <ng-option value="7">Australian/New Zealand Dollar (AUD/NZD)</ng-option>
                                                    <ng-option value="8">South African Rand (ZAR)</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:;" class="me-2 btn btn-success">Save Changes</a>
                                <a href="javascript:;" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink><i class="nav-icon las la-compass"></i> Other Settings</a>
                  <ng-template ngbNavContent>
                    <div>
                        <div class="card">
                            <div class="card-header  border-0">
                                <h4 class="card-title">Other Settings</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <label class="form-label">API Type</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="custom-controls-stacked d-sm-flex">
                                                <label class="custom-control custom-radio me-4">
                                                    <input type="radio" class="custom-control-input" id="per-token"
                                                        name="example-radios3" value="option1">
                                                    <span class="custom-control-label">Personal</span>
                                                </label>
                                                <label class="custom-control custom-radio me-4">
                                                    <input type="radio" class="custom-control-input" id="old-token"
                                                        name="example-radios3" value="option2">
                                                    <span class="custom-control-label">Old Token</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="enable-oldtoken">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <label class="form-label mb-0 mt-2">User Name</label>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" placeholder="Name" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <label class="form-label mb-0 mt-2">API Token</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control" placeholder="Token" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <label class="form-label">Support Expiry</label>
                                        </div>
                                        <div class="col-xl-2 pr-0">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="custom-switch-checkbox"
                                                    class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">Enable/Disable</span>
                                            </label>
                                        </div>
                                        <div class="col-xl-7 pl-xl-0">
                                            <span class="d-block fs-12 text-muted">Ut enim ad minim veniam, quis nostrud
                                                exercitation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:;" class="me-2 btn btn-success">Save Changes</a>
                                <a href="javascript:;" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                </ng-container>
              </nav>              
        </div>
    </div>
    <div class="col-xl-9">
        <div class="tab-content adminsetting-content" [ngbNavOutlet]="nav"></div>
    </div>
</div>
<!-- End Row-->