
		<!-- Section -->
		<section>
			<div class="bannerimg cover-image" data-image-src="./assets/images/photos/banner1.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="row text-white">
							<div class="col">
								<h1 class="mb-0">Open Ticket</h1>
							</div>
							<div class="col col-auto">
								<ol class="breadcrumb text-center">
									<li class="breadcrumb-item">
										<a href="javascript:;" class="text-white-50">Home</a>
									</li>
									<li class="breadcrumb-item active">
										<a href="javascript:;" class="text-white">Open Ticket</a>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section -->

		<!--Section-->
		<section>
			<div class="cover-image sptb">
				<div class="container">
					<div class="row">
						<div class="col-xl-8">
							<div class="card">
								<div class="card-header  border-0">
									<h4 class="card-title">New Ticket</h4>
								</div>
								<div class="card-body">
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Ticket Subject</label>
											</div>
											<div class="col-md-9">
												<input type="text" class="form-control" placeholder="Name" value="">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Email Address</label>
											</div>
											<div class="col-md-9">
												<input type="text" class="form-control" placeholder="Email" value="">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Priority</label>
											</div>
											<div class="col-md-9">
												<ng-select  class="form-control custom-select"  placeholder="Select Priority">
													<ng-option value="1">High</ng-option>
													<ng-option value="2">Medium</ng-option>
													<ng-option value="3">Low</ng-option>
												</ng-select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Ticket Category</label>
											</div>
											<div class="col-md-9">
												<ng-select  class="form-control custom-select"  placeholder="Select Category">
													<ng-option value="1">Support</ng-option>
													<ng-option value="2">Services</ng-option>
													<ng-option value="3">Customization</ng-option>
												</ng-select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Ticket Description</label>
											</div>
											<div class="col-md-9">
												<textarea class="form-control mb-4" placeholder="Textarea" rows="3"></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Upload Image</label>
											</div>
											<div class="col-md-9">
											<div class="form-group">
												<label for="form-label" class="form-label">Bootstrap's Custom File Input</label>
												<input class="form-control" type="file">
											</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="form-label mb-0 mt-2">Captcha</label>
											</div>
											<div class="col-md-9">
												<input type="text" class="form-control" placeholder="" value="">
												<div class="captch-body">
													<img src="./assets/images/png/captcha.png" alt="img">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="row">
										<div class="col-md-3"></div>
										<div class="col-md-9">
											<a href="javascript:;" class="btn btn-primary btn-lg">Submit Ticket</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4">
							<div class="card">
								<div class="card-header  border-0">
									<h4 class="card-title">Categories</h4>
								</div>
								<div class="card-body">
									<div class="list-catergory">
										<div class="item-list">
											<ul class="list-group mb-0">
												<li class="list-group-item">
													<a class="text-dark" href="javascript:;">Support <span class="badgetext badge badge-light mb-0 mt-1">14</span></a>
												</li>
												<li class="list-group-item">
													<a class="text-dark" href="javascript:;">Services <span class="badgetext badge badge-light mb-0 mt-1">03</span></a>
												</li>
												<li class="list-group-item">
													<a class="text-dark" href="javascript:;">Customization<span class="badgetext badge badge-light mb-0 mt-1">25</span></a>
												</li>
												<li class="list-group-item">
													<a class="text-dark" href="javascript:;">Other <span class="badgetext badge badge-light mb-0 mt-1">12</span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="card mb-0">
								<div class="card-header  border-0">
									<h4 class="card-title">Popular Articles</h4>
								</div>
								<div class="card-body">
									<div class="list-catergory">
										<ul class="item-list item-list-scroll mb-0">
											<li class="item">
												<div class="list-card">
													<a href="javascript:;"><i class="typcn typcn-document-text item-list-icon"></i><span class="h6">How to Updgrade plan?</span></a>
													<div class="mt-1">
														<span class="me-2 badge badge-primary badge-md fs-10"><i class="fa fa-eye"></i> 14</span>
														<span class="badge badge-success badge-md fs-10"><i class="fa fa-thumbs-up"></i> 53</span>
													</div>
												</div>
											</li>
											<li class="item">
												<div class="list-card">
													<a href="javascript:;"><i class="typcn typcn-document-text item-list-icon"></i><span class="h6">How could I manage active menu class?</span></a>
													<div class="mt-1">
														<span class="me-2 badge badge-primary badge-md fs-10"><i class="fa fa-eye"></i> 19</span>
														<span class="badge badge-success badge-md fs-10"><i class="fa fa-thumbs-up"></i> 03</span>
													</div>
												</div>
											</li>
											<li class="item">
												<div class="list-card">
													<a href="javascript:;"><i class="typcn typcn-document-text item-list-icon"></i><span class="h6"> How to remove the dollar $ sign?</span></a>
													<div class="mt-1">
														<span class="me-2 badge badge-primary badge-md fs-10"><i class="fa fa-eye"></i> 22</span>
														<span class="badge badge-success badge-md fs-10"><i class="fa fa-thumbs-up"></i> 02</span>
													</div>
												</div>
											</li>
											<li class="item">
												<div class="list-card">
													<a href="javascript:;"><i class="typcn typcn-document-text item-list-icon"></i><span class="h6">Is there available in webpack?</span></a>
													<div class="mt-1">
														<span class="me-2 badge badge-primary badge-md fs-10"><i class="fa fa-eye"></i> 34</span>
														<span class="badge badge-success badge-md fs-10"><i class="fa fa-thumbs-up"></i> 06</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Section-->

		<!-- Section -->
		<section class="sptb bg-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-xl-6 col-md-12">
						<div class="sub-newsletter">
							<h3 class="mb-2 fs-20"><i class="fa fa-paper-plane-o me-2"></i> Subscribe To Our Onlinesletter</h3>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-lg-5 col-xl-6 col-md-12">
						<div class="input-group sub-input mt-1">
							<input class="form-control input-lg" placeholder="Enter your Email" type="text">
							<div class="input-group-append">
								<button class="btn ripple btn-primary btn-lg br-tr-3 br-br-3" >Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section -->

		<!--Section-->
		<section class="spfooter">
			<footer class="text-white footer-support">
				<div class="footer-main">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 col-md-12">
								<h6>Our Services</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;">Our Team</a>
									</li>
									<li>
										<a href="javascript:;">Contact US</a>
									</li>
									<li>
										<a href="javascript:;">About</a>
									</li>
									<li>
										<a href="javascript:;">Services</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-12">
								<h6 class="mt-5 mt-md-0">Support</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;">FAQ</a>
									</li>
									<li>
										<a href="javascript:;">Terms of Service</a>
									</li>
									<li>
										<a href="javascript:;">Privacy Policy</a>
									</li>
									<li>
										<a href="javascript:;">Help</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-12">
								<h6 class="mt-5 mt-md-0">Get In Touch</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;"><i class="fa fa-home me-3"></i> New York, NY 10012, US-52014</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-envelope me-3 fs-12"></i> info12323@example.com</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-phone me-3"></i> + 01 234 567 88, + 01 234 567 88</a>
									</li>
									 <li>
										<a href="javascript:;"><i class="fa fa-print me-3"></i> + 01 234 567 89, + 01 234 567 89</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-12">
								<h6 class="mt-5 mt-md-0">Subscribe</h6>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Email">
									<div class="input-group-append ">
										<button  class="btn btn-primary">
											Subscribe
										</button>
									</div>
								</div>
								<h6 class="mb-2 mt-5">Social Icons</h6>
								<ul class="social-icons mb-0 mt-3">
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-rss"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-youtube"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-linkedin"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="sub-footer">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-12 col-sm-12 pt-5 pb-5 text-center">
								<p class="mb-0">Copyright © 2021 <a href="javascript:;" class="fs-14 text-primary">Dayone</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:;" class="fs-14 text-primary"> Spruko Technologies Pvt.Ltd </a>All rights reserved. </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!--Section-->