<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Notice Board</h4>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="btn-list">
                <a href="javascript:;" class="btn btn-primary me-3" toggle="modal" (click)="open(content)">Add New
                    Notice</a>
                <button class="btn btn-light" placement="top" ngbTooltip="E-mail"> <i class="feather feather-mail"></i>
                </button>
                <button class="btn btn-light" placement="top" ngbTooltip="Contact"> <i
                        class="feather feather-phone-call"></i> </button>
                <button class="btn btn-primary" placement="top" ngbTooltip="Info"> <i class="feather feather-info"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title">Notice Summary</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form>
                        <div class="d-flex justify-content-between p-2">
                            <ng-select class="form-control custom-select" style="width: auto" name="pageSize"
                                [(ngModel)]="service.pageSize">
                                <ng-option [value]="5">5 items per page</ng-option>
                                <ng-option [value]="10">10 items per page</ng-option>
                                <ng-option [value]="25">25 items per page</ng-option>
                                <ng-option [value]="50">50 items per page</ng-option>
                                <ng-option [value]="100">100 items per page</ng-option>
                            </ng-select>
                            <div class="form-group d-flex flex-column">
                                <input placeholder="Search" class="form-control ml-2" type="text" name="searchTerm" autocomplete="off"
                                    [(ngModel)]="service.searchTerm" />
                                <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
                            </div>
                        </div>

                        <table class="table table-vcenter text-nowrap table-bordered border-bottom">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                                    <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
                                    <th scope="col" sortable="to" (sort)="onSort($event)">To</th>
                                    <th scope="col" sortable="createOn" (sort)="onSort($event)">Create On</th>
                                    <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let noticeBoard of noticeBoard$ | async">
                                    <th scope="row">{{ noticeBoard.id }}</th>
                                    <td>
                                        <ngb-highlight [result]="noticeBoard.title" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="noticeBoard.description" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="noticeBoard.to" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="noticeBoard.createOn" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight class={{noticeBoard.statusBg}} [result]="noticeBoard.status" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a class="action-btns1" (click)="openDialog(noticeBoard)"><i class="feather feather-eye primary text-primary"  data-bs-toggle="tooltip" data-bs-placement="top" title="Edit/View"></i></a>
                                            <a (click)="deleteData(noticeBoard)" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="float-end">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Add leave Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add New Notice</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
            <span class="nav-link">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input class="form-control" placeholder="Text">
        </div>
        <div class="form-group">
            <div class="custom-controls-stacked d-md-flex">
                <label class="custom-control custom-radio success me-4">
                    <input type="radio" class="custom-control-input" name="example-radios1" value="option1">
                    <span class="custom-control-label">To Employees</span>
                </label>
                <label class="custom-control custom-radio success">
                    <input type="radio" class="custom-control-input" name="example-radios1" value="option2">
                    <span class="custom-control-label">To Clients</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Select Date:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="feather feather-calendar"></i>
                    </div>
                </div><input class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Description:</label>
            <div class="summernote"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Attachment:</label>
            <div class="form-group">
                <label for="form-label" class="form-label"></label>
                <input class="form-control" type="file">
            </div>
        </div>
        <div class="custom-controls-stacked d-md-flex">
            <label class="form-label mt-1 me-5">Status :</label>
            <label class="custom-control custom-radio success me-4">
                <input type="radio" class="custom-control-input" name="example-radios2" value="option3">
                <span class="custom-control-label">To Employees</span>
            </label>
            <label class="custom-control custom-radio success">
                <input type="radio" class="custom-control-input" name="example-radios2" value="option4">
                <span class="custom-control-label">To Clients</span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-outline-primary me-2" (click)="modal.dismiss('Cross click')"
            data-bs-dismiss="modal">Close</a>
        <a href="javascript:;" class="btn btn-success" (click)="modal.dismiss('Cross click')">Save</a>
    </div>
</ng-template>
<!-- Add leave Modal -->
