<app-page-header [title]="'Products'"></app-page-header>
<!-- Row -->
<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" placeholder="Searching....." class="form-control">
                    <span class="input-group-append">
                        <button class="btn ripple btn-primary">Search</button>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <div class="mt-3">
                    <div class="form-group">
                        <label class="form-label">Select Gender</label>
                        <ng-select class="form-control custom-select" placeholder="Select Gender">
                            <ng-option value="1">Mens</ng-option>
                            <ng-option value="2">Womens</ng-option>
                            <ng-option value="3">Kids</ng-option>
                            <ng-option value="4">Others</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Category</label>
                        <ng-select class="form-control custom-select" placeholder="Select Category">
                            <ng-option value="1">Dress</ng-option>
                            <ng-option value="2">Bags &amp; Purses</ng-option>
                            <ng-option value="3">Coat &amp; Jacket</ng-option>
                            <ng-option value="4">Beauty</ng-option>
                            <ng-option value="5">Jeans</ng-option>
                            <ng-option value="5">Jewellery</ng-option>
                            <ng-option value="5">Electronics</ng-option>
                            <ng-option value="5">Sports</ng-option>
                            <ng-option value="5">Technology</ng-option>
                            <ng-option value="5">Watches</ng-option>
                            <ng-option value="5">Accessories</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Brand</label>
                        <ng-select class="form-control custom-select" placeholder="Select Barnd">
                            <ng-option value="1">White</ng-option>
                            <ng-option value="2">Black</ng-option>
                            <ng-option value="3">Red</ng-option>
                            <ng-option value="4">Green</ng-option>
                            <ng-option value="5">Blue</ng-option>
                            <ng-option value="6">Yellow</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Type</label>
                        <ng-select class="form-control custom-select" placeholder="Select Type">
                            <ng-option value="1">Extra Small</ng-option>
                            <ng-option value="2">Small</ng-option>
                            <ng-option value="3">Medium</ng-option>
                            <ng-option value="4">Large</ng-option>
                            <ng-option value="5">Extra Large</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Color</label>
                        <ng-select class="form-control custom-select" placeholder="Select Color">
                            <ng-option value="1">White</ng-option>
                            <ng-option value="2">Black</ng-option>
                            <ng-option value="3">Red</ng-option>
                            <ng-option value="4">Green</ng-option>
                            <ng-option value="5">Blue</ng-option>
                            <ng-option value="6">Yellow</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Ratings</h4>
                <div class="mt-3">
                    <div class="custom-checkbox custom-control mb-3">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1" placeholder="color"
                            checked="">
                        <label for="checkbox-1" class="custom-control-label">
                            <span class="fs-14 ms-2 my-auto">
                                <i class="fa fa-star  text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </span>
                        </label>
                    </div>
                    <div class="custom-checkbox custom-control mb-3">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2" placeholder="color">
                        <label for="checkbox-1" class="custom-control-label">
                            <span class="fs-14 ms-2 my-auto">
                                <i class="fa fa-star  text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </span>
                        </label>
                    </div>
                    <div class="custom-checkbox custom-control mb-3">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-3" placeholder="color">
                        <label for="checkbox-1" class="custom-control-label">
                            <span class="fs-14 ms-2 my-auto">
                                <i class="fa fa-star  text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </span>
                        </label>
                    </div>
                    <div class="custom-checkbox custom-control mb-3">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-4" placeholder="color">
                        <label for="checkbox-1" class="custom-control-label">
                            <span class="fs-14 ms-2 my-auto">
                                <i class="fa fa-star  text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </span>
                        </label>
                    </div>
                    <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-5" placeholder="color">
                        <label for="checkbox-1" class="custom-control-label">
                            <span class="fs-14 ms-2 my-auto">
                                <i class="fa fa-star  text-warning"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Price</h4>
                <div class="mt-3">
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="example-radios1" value="option1"
                                checked>
                            <span class="custom-control-label">Under $25</span>
                        </label>
                    </div>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="example-radios1" value="option2">
                            <span class="custom-control-label">$25 to $50</span>
                        </label>
                    </div>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="example-radios1" value="option3">
                            <span class="custom-control-label">$50 to $100</span>
                        </label>
                    </div>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="example-radios1" value="option4">
                            <span class="custom-control-label">$100 to $500</span>
                        </label>
                    </div>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="example-radios1" value="option5">
                            <span class="custom-control-label">Other (Specify)</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" href="javascript:;">Apply Filter</a>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-4 col-md-12" *ngFor="let list of productsList">
                <div class="card item-card overflow-hidden">
                    <div class="item-image">
                        <span class="badge badge-{{list.textStatus}}">{{list.bageText}}</span>
                        <a (click)="onSelect(list)"  class="image">
                            <img src={{list.img}} alt="img" class="img-fluid w-100">
                        </a>
                        <ul class="product-links">
                            <li>
                                <a (click)="onSelect(list)" class="product-links-icon" ><i class="fa fa-heart text-danger"></i></a>
                            </li>
                            <li>
                                <a routerLink="/ecommerce/shopping-cart/" class="product-links-icon" ><i class="fa fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                        <div class="product-overly">
                            <a (click)="onSelect(list)" class="text-white"><i class="fa fa-eye me-1"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <a class="shop-title">{{list.title}}</a>
                        <div class="mb-1 fs-13 mt-2">
                            <ngb-rating [max]="5" rate={{list.starText}}></ngb-rating>
                            <a href="javascript:;" class="text-muted fs-13"> ({{list.review}})</a>
                        </div>
                        <div class="cardprice">
                            <span class="type--strikethrough">{{list.lastValue}}</span>
                            <span>{{list.newValue}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ngb-pagination [collectionSize]="30" [(page)]="page" ARIA="Default pagination"></ngb-pagination>
        </div>
    </div>
</div>
<!-- End  Row -->
