::ng-deep {
  .treeview-container {
    width: 500px;
  }

  @media (max-width:360px) {
    .treeview-container {
      width: 100%;
    }
  }

  .form-inline.row-item .form-check .form-check-input {
    display: none;
  }
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role=group]>.mat-tree-node {
  padding-left: 40px;
}

.mat-tree {

  button {
    background: transparent;
    border: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
}

.mat-tree-node,
.mat-nested-tree-node {
  color: rgb(65, 64, 64) !important;
  min-height: 26px !important;
}

.example-tree-progress-bar {
  margin-left: 30px;
}

::ng-deep {

  .mat-h6,
  .mat-typography h6 {
    margin: 0 !important;
  }
}

button[disabled] {
  display: none !important;
}

::ng-deep {
  .dark-mode {
    .mat-tree {
      background: transparent;
    }

    .mat-tree-node,
    .mat-nested-tree-node,
    mat-icon {
      color: #fff !important;
    }
  }

  .transparent-mode {
    .mat-tree {
      background: transparent;
    }

    .mat-tree-node,
    .mat-nested-tree-node,
    mat-icon {
      color: #fff !important;
    }
  }

  .rtl{
    .example-tree .mat-nested-tree-node div[role=group]{
      padding-right: 40px;
      padding-left: initial !important;
    }
  }
}