		<!-- Section -->
		<section>
			<div class="bannerimg cover-image" data-image-src="./assets/images/photos/banner1.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="row text-white">
							<div class="col">
								<h1>Contact</h1>
							</div>
							<div class="col col-auto">
								<ol class="breadcrumb text-center">
									<li class="breadcrumb-item">
										<a href="javascript:;" class="text-white-50">Home</a>
									</li>
									<li class="breadcrumb-item active">
										<a href="javascript:;" class="text-white">Contact</a>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section -->

		<!--Section-->
		<section>
			<div class="cover-image sptb">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-xl-6 col-md-12 mx-auto d-block">
							<div class="card mb-0">
								<div class="card-body">
									<h3 class="font-weight-semibold2 mb-5">Let's get in Touch</h3>
									<div class="form-group">
										<input class="form-control" placeholder="Your Name" type="text">
									</div>
									<div class="form-group">
										<input class="form-control"  placeholder="Email Address" type="email">
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="Subject" type="text">
									</div>
									<div class="form-group">
										<textarea class="form-control" name="example-textarea-input" placeholder="Message" rows="6"></textarea>
									</div>
									<div class="text-start">
										<a class="btn btn-primary waves-effect waves-light" href="javascript:;">Send Message</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Section-->

		<!-- Section -->
		<section class="sptb bg-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-xl-6 col-md-12">
						<div class="sub-newsletter">
							<h3 class="mb-2 fs-20"><i class="fa fa-paper-plane-o me-2"></i> Subscribe To Our Onlinesletter</h3>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-lg-5 col-xl-6 col-md-12">
						<div class="input-group sub-input mt-1">
							<input class="form-control input-lg" placeholder="Enter your Email" type="text">
							<div class="input-group-append">
								<button class="btn ripple btn-primary btn-lg br-tr-3 br-br-3" >Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section -->

		<!--Section-->
		<section class="spfooter">
			<footer class="text-white footer-support">
				<div class="footer-main">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 col-md-12">
								<h6>Our Services</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;">Our Team</a>
									</li>
									<li>
										<a href="javascript:;">Contact US</a>
									</li>
									<li>
										<a href="javascript:;">About</a>
									</li>
									<li>
										<a href="javascript:;">Services</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-12">
								<h6 class="mt-5 mt-md-0">Support</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;">FAQ</a>
									</li>
									<li>
										<a href="javascript:;">Terms of Service</a>
									</li>
									<li>
										<a href="javascript:;">Privacy Policy</a>
									</li>
									<li>
										<a href="javascript:;">Help</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-12">
								<h6 class="mt-5 mt-md-0">Get In Touch</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:;"><i class="fa fa-home me-3"></i> New York, NY 10012, US-52014</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-envelope me-3 fs-12"></i> info12323@example.com</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-phone me-3"></i> + 01 234 567 88, + 01 234 567 88</a>
									</li>
									 <li>
										<a href="javascript:;"><i class="fa fa-print me-3"></i> + 01 234 567 89, + 01 234 567 89</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-12">
								<h6 class="mt-5 mt-md-0">Subscribe</h6>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Email">
									<div class="input-group-append ">
										<button  class="btn btn-primary">
											Subscribe
										</button>
									</div>
								</div>
								<h6 class="mb-2 mt-5">Social Icons</h6>
								<ul class="social-icons mb-0 mt-3">
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-rss"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-youtube"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-linkedin"></i></a>
									</li>
									<li>
										<a class="social-icon" href="javascript:;"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="sub-footer">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-12 col-sm-12 pt-5 pb-5 text-center">
								<p class="mb-0">Copyright © 2021 <a href="javascript:;" class="fs-14 text-primary">Dayone</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:;" class="fs-14 text-primary"> Spruko Technologies Pvt.Ltd </a>All rights reserved. </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!--Section-->