<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">{{title}}</h4>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="d-flex">
                <div class="header-datepicker me-3 mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"> <i class="feather feather-calendar"></i> </div>
                        </div>
                        <input ngbDatepicker #d="ngbDatepicker" [(ngModel)]="model" (click)="d.toggle()" class="form-control fc-datepicker hasDatepicker" placeholder="19 Feb 2020"
                            type="text" id="dp1654500057374">
                    </div>
                </div>
                <div class="header-datepicker me-3 mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="feather feather-clock"></i>
                            </div>
                        </div>
                        <input placeholder="12hr format" class="form-control input-small ui-timepicker-input" type="text" autocomplete="off" [ngxTimepicker]="default">
                        <ngx-material-timepicker #default></ngx-material-timepicker>
                    </div>
                </div><!-- wd-150 -->
            </div>
            <div class="d-lg-flex d-block">
                <div class="btn-list">
                    <button mat-button class="btn btn-primary" (click)="openDialog()">Clock In</button>
                    <button class="btn btn-light" placement="top" ngbTooltip="E-mail"> <i
                            class="feather feather-mail"></i> </button>
                    <button class="btn btn-light" placement="top" ngbTooltip="Contact"> <i
                            class="feather feather-phone-call"></i> </button>
                    <button class="btn btn-primary" placement="top" ngbTooltip="Info"> <i
                            class="feather feather-info"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->