<app-page-header [title]="'User list04'"></app-page-header>
<!-- Row -->
<div class="row flex-lg-nowrap">
    <div class="col-12">
        <div class="row flex-lg-nowrap">
            <div class="col-12 mb-3">
                <div class="e-panel card">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col mb-4">
                                <a href="javascript:;" class="btn btn-primary"><i class="fe fe-plus"></i> Add New User</a>
                            </div>
                            <div class="col col-auto mb-4">
                                <div class="form-group w-100">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search User">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/7.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                                            <small class="text-muted">Project Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">denisrosenblum@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">82%</h6>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="primary" [value]="82" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/6.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Harvey Mattos</p>
                                            <small class="text-muted">Develpoer</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">harveymattos@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">82%</h6>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="primary" [value]="82" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/5.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Catrice Doshier</p>
                                            <small class="text-muted">Assistant Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">catricedoshier@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">74%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="74" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/1.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Catherina Bamber</p>
                                            <small class="text-muted">Company Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">catherinabamber@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">55%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="55" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/8.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Margie Fitts</p>
                                            <small class="text-muted">It Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">margiefitts@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">64%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="64" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/5.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Dana Lott</p>
                                            <small class="text-muted">Hr Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">danalott@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">72%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="72" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/6.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Benedict Vallone</p>
                                            <small class="text-muted">Hr Recriuter</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">benedictballone@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">52%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="52" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/8.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Robbie Ruder</p>
                                            <small class="text-muted">Ceo</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">robbieruder@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">43%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="43" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/3.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Micaela Aultman</p>
                                            <small class="text-muted">Php developer</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">micaelaaultman@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">35%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="35" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/4.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Jacquelynn Sapienza</p>
                                            <small class="text-muted">Web developer</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">jacquelynnsapienza@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">86%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="86" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/9.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Elida Distefano</p>
                                            <small class="text-muted">Hr Manager</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">elidadistefano@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">73%</h6>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="primary" [value]="73" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card border p-0 shadow-none">
                                    <div class="d-flex align-items-center p-4">
                                        <div class="avatar avatar-lg brround d-block cover-image">
                                            <img class="avatar avatar-lg brround d-block cover-image" src="./assets/images/users/7.jpg">
                                        </div>
                                        <div class="wrapper ms-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">Collin Bridgman</p>
                                            <small class="text-muted">web designer</small>
                                        </div>
                                        <div class="float-end ms-auto">
                                            <div class="btn-group ms-3 mb-0" ngbDropdown>
                                                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div ngbDropdownMenu class="dropdown-menu-start">
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit me-2"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash me-2"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex mb-3">
                                            <span class="icon-style-circle1 ri-message-2-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">collinbridgman@gmail.com</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="icon-style-circle1 ri-phone-line fs-18"></span>
                                            <div class="h6 mb-0 ms-3 mt-1">+345 657 567</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mb-1">
                                            <div class="col">
                                                Work Progress
                                            </div>
                                            <div class="col col-auto">
                                                <h6 class="mb-0 ms-4 font-weight-bold">67%</h6>
                                            </div>
                                        </div>

                                        <ngb-progressbar type="primary" [value]="67" height="0.5rem"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->