<app-page-header [title]="'List'"></app-page-header>

<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Basic List</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus
                        <ul class="list-style-disc">
                            <li>Cras justo odio</li>
                            <li>Dapibus ac facilisis in</li>
                            <li>Morbi leo risus</li>
                            <li>Porta ac consectetur ac</li>
                            <li>Vestibulum at eros</li>
                            <li>Nemo enim ipsam</li>
                        </ul>
                    </li>
                    <li>Porta ac consectetur ac</li>
                    <li>Vestibulum at eros</li>
                    <li>ut labore et dolore magna</li>
                    <li>established fact that a reader</li>
                    <li>Vestibulum at eros</li>
                    <li>Nemo enim ipsam voluptatem</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Unordered List</h3>
            </div>
            <div class="card-body">
                <ul class="list-style-cricle">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus
                        <ul class="list-style-square">
                            <li>Cras justo odio</li>
                            <li>Dapibus ac facilisis in</li>
                            <li>Morbi leo risus</li>
                            <li>Porta ac consectetur ac</li>
                            <li>Vestibulum at eros</li>
                            <li>Nemo enim ipsam</li>
                        </ul>
                    </li>
                    <li>Porta ac consectetur ac</li>
                    <li>Vestibulum at eros</li>
                    <li>ut labore et dolore magna</li>
                    <li>established fact that a reader</li>
                    <li>Vestibulum at eros</li>
                    <li>Nemo enim ipsam voluptatem</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Ordered List</h3>
            </div>
            <div class="card-body">
                <ol class="list-order-style">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus</li>
                    <li>Porta ac consectetur ac
                        <ol class="list-style-uproman">
                            <li>Cras justo odio</li>
                            <li>Dapibus ac facilisis in</li>
                            <li>Morbi leo risus</li>
                        </ol>
                    </li>
                    <li>Vestibulum at eros</li>
                    <li>Nemo enim ipsam voluptatem</li>
                    <li>sed quia non numquam
                        <ol class="list-style-lwalpha">
                            <li>Cras justo odio</li>
                            <li>Dapibus ac facilisis in</li>
                            <li>Morbi leo risus</li>
                        </ol>
                    </li>
                    <li>ut labore et dolore magna</li>
                    <li>established fact that a reader</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">In-line List</h3>
            </div>
            <div class="card-body">
                <ul class="inline-list">
                    <li>Cras justo odio</li>
                    <li>Dapibus ac facilisis in</li>
                    <li>Morbi leo risus</li>
                    <li>Porta consectetur</li>
                    <li>Vestibulum at eros</li>
                </ul>
                <ul class="inline-list mt-5">
                    <li>1. Cras justo odio</li>
                    <li>2. Dapibus ac facilisis in</li>
                    <li>3. Morbi leo risus</li>
                    <li>4. Porta consectetur</li>
                    <li>5. Vestibulum at eros</li>
                </ul>
                <ul class="inline-list mt-5">
                    <li><i class="fe fe-layers text-muted me-1"></i> Cras justo odio</li>
                    <li><i class="fe fe-layers text-muted me-1"></i> Dapibus ac facilisis in</li>
                    <li><i class="fe fe-layers text-muted me-1"></i> Morbi leo risus</li>
                    <li><i class="fe fe-layers text-muted me-1"></i> Porta consectetur</li>
                    <li><i class="fe fe-layers text-muted me-1"></i> Vestibulum at eros</li>
                    <li><i class="fe fe-layers text-muted me-1"></i> established fact that a reader</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->