<app-page-header [title]="'Accordion'"></app-page-header>

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Defalut Accordion</h3>
            </div>
            <div class="card-body">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Collapsible Group Item #1" cardClass="acc-card">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                            ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla
                            assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred
                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus
                            labore sustainable.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Collapsible Group Item #2" cardClass="acc-card">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid single-origin coffee nulla assumrighta shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Collapsible Group Item #3" cardClass="acc-card">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid single-origin coffee nulla assumrighta shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore.
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Closed Accordion</h3>
            </div>
            <div class="card-body">
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="static-1" title="Collapsible Group Item #1" cardClass="panel-heading">
                          <ng-template ngbPanelContent >
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable.
                          </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Collapsible Group Item #2"  cardClass="panel-heading">
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore.
                          </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="Collapsible Group Item #3" cardClass="panel-heading">
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squidsingle-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore.
                          </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
    </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Closed Accordion</h3>
            </div>
            <div class="card-body">
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel >
                        <ng-template ngbPanelTitle >
                            <i class="mx-2 fa fa-minus-circle"></i>
                            Select 1
                          </ng-template>
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable.
                          </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" >
                        <ng-template ngbPanelTitle >
                            <i class="mx-2 fa fa-minus-circle"></i>
                            Select 2
                          </ng-template>
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore.
                          </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" >
                        <ng-template ngbPanelTitle >
                            <i class="mx-2 fa fa-minus-circle"></i>
                            Select 3
                          </ng-template>
                          <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squidsingle-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore.
                          </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
    </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Color Accordion Style</h3>
            </div>
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default mb-4 overflow-hidden">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle firstgradient bg-gradient-primary collapsed "
                                    (click)="FirstGradient()">Section 1</a>
                            </h4>
                        </div>
                        <div *ngIf="isFirstGradient">
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a
                                        dictionary of over 200 Latin words </p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but
                                        because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
                                        physical exercise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default overflow-hidden">
                      <div class="panel-heading1">
                        <h4 class="panel-title1">
                          <a class="accordion-toggle secondgradient bg-gradient-primary collapsed" (click)="SecondGradient()">Section 2</a>
                          </h4>
                      </div>
                      <div class="panel-collapse" *ngIf="isSecondGradient">
                        <div class="panel-body">
                          <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                          unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but
                          because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
                          physical exercise</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Toggle Accordion</h3>
            </div>
            <div class="card-body">
                <ngb-accordion #accToggle="ngbAccordion">
                    <ngb-panel id="toggle-1" title="First panel"  cardClass="custom-class">
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="toggle-2" title="Second" cardClass="custom-class">
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>

                  <hr/>

                  <button class="btn btn-sm btn-outline-primary me-2" (click)="accToggle.toggle('toggle-1')">Toggle first</button>
                  <button class="btn btn-sm btn-outline-primary me-2" (click)="accToggle.toggle('toggle-2')">Toggle second</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Multiple targets Accordion</h3>
            </div>
            <div class="card-body">
                <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
                    <ngb-panel id="custom-panel-1" cardClass="custom-class">
                      <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                          <button ngbPanelToggle class="btn btn-link">Toggle first</button>
                          <h5 class="p-2 w-100">First panel - {{ opened ? 'opened' : 'collapsed' }}</h5>
                        </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel cardClass="custom-class">
                      <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-between p-3">
                          <h5 class="m-0">Second panel</h5>
                          <div class="ms-auto">
                            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ms-2 mb-1">Toggle second</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary ms-2 mb-1" (click)="disabled = !disabled">
                              {{ disabled ? 'En' : 'Dis' }}able third
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger ms-2 mb-1" (click)="a.collapseAll()">Collapse all</button>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled custom-class' : 'custom-class'">
                      <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-around">
                          <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
                          <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
                        </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
    </div>
</div>
<!--End Row-->
<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Prevent Panel Toggle</h3>
            </div>
            <div class="card-body">
                <ngb-accordion (panelChange)="beforeChange($event)">
                    <ngb-panel id="preventchange-1" title="Simple" cardClass="custom-class">
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="preventchange-2" title="I can't be toggled..." cardClass="custom-class">
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="preventchange-3" title="I can be opened, but not closed..." cardClass="custom-class">
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
    </div>
</div>
<!--End Row-->
