		<!-- Switcher -->
		<div class="switcher-wrapper">
		  <div #switcher class="demo_changer">
		    <div class="form_holder sidebar-right1">
		      <perfect-scrollbar>
		        <div class="row">
		          <div class="predefined_styles">
		            <div class="swichermainleft text-center">
		              <div class="p-3">
		                <a href="https://angular.spruko.com/dayone" class="btn ripple btn-primary btn-block mt-0" target="blank">View Demo</a>
		                <a href="https://themeforest.net/item/dayone-multipurpose-html-dashboard-template/31885649"
		                  class="btn ripple btn-secondary btn-block">Buy Now</a>
		                <a href="https://themeforest.net/user/spruko/portfolio" class="btn ripple btn-red btn-block">Our
		                  Portfolio</a>
		              </div>
		            </div>
		            <div class="swichermainleft mb-0">
		              <h4>LTR AND RTL VERSIONS</h4>
		              <div class="skin-body">
		                <div class="switch_section">
		                  <div class="switch-toggle d-flex mt-4">
		                    <span class="me-auto">LTR</span>
		                    <a href="javascrip:;" class="onoffswitch2"><input type="radio" name="onoffswitch5" id="myonoffswitch54"
		                        class="onoffswitch2-checkbox" checked>
		                      <label for="myonoffswitch54" class="onoffswitch2-label"></label>
		                    </a>
		                  </div>
		                  <div class="switch-toggle d-flex mt-2">
		                    <span class="me-auto">RTL</span>
		                    <a href="javascrip:;" class="onoffswitch2"><input type="radio" name="onoffswitch5" id="myonoffswitch55"
		                        class="onoffswitch2-checkbox">
		                      <label for="myonoffswitch55" class="onoffswitch2-label"></label>
		                    </a>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Light Theme Style</h4>
		              <div class="skin-body">
		                <div class="switch_section">
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto mt-2">Light Theme</span>
		                    <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitchlight"
		                        class="onoffswitch2-checkbox" checked>
		                      <label for="myonoffswitchlight" class="onoffswitch2-label"></label>
		                    </p>
		                  </div>
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto mt-2">Light Primary</span>
		                    <div class="">
		                      <input class="input-color-picker color-primary-light" value="#6c5ffc" id="colorID"
		                        data-id="bg-color" data-id1="bg-hover" data-id2="bg-border" [style.background]="color1"
		                        [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [(colorPicker)]="color1"
		                        (cpSliderDragEnd)="dynamicLightPrimary($event)" />
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Dark Theme Style</h4>
		              <div class="skin-body">
		                <div class="switch_section">
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto mt-2">Dark Theme</span>
		                    <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitchdark"
		                        class="onoffswitch2-checkbox">
		                      <label for="myonoffswitchdark" class="onoffswitch2-label"></label>
		                    </p>
		                  </div>
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto  mt-2">Dark Primary</span>
		                    <div class="">
		                      <input class=" input-dark-color-picker color-primary-dark" value="#6c5ffc"
		                        id="darkPrimaryColorID" data-id="bg-color" data-id1="bg-hover" data-id2="bg-border"
		                        data-id3="primary" data-id8="transparentcolor" [style.background]="color2"
		                        [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [(colorPicker)]="color2"
		                        (cpSliderDragEnd)="dynamicDarkPrimary($event)" />
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Transparent Theme Style</h4>
		              <div class="skin-body">
		                <div class="switch_section">
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto  mt-2">Transparent Theme</span>
		                    <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitchtransparent"
		                        class="onoffswitch2-checkbox">
		                      <label for="myonoffswitchtransparent" class="onoffswitch2-label"></label>
		                    </p>
		                  </div>
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto  mt-2">Transparent Primary</span>
		                    <div class="">
		                      <input class="w-30p h-30 input-transparent-color-picker color-primary-transparent"
		                        value="#6c5ffc" id="transparentPrimaryColorID" data-id="bg-color" data-id1="bg-hover"
		                        data-id2="bg-border" data-id3="primary" data-id4="primary" data-id9="transparentcolor"
		                        [style.background]="color3" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
		                        [(colorPicker)]="color3" (cpSliderDragEnd)="dynamicTranparentPrimary($event)" />
		                    </div>
		                  </div>
		                  <div class="switch-toggle d-flex">
		                    <span class="me-auto  mt-2">Transparent Background</span>
		                    <div class="">
		                      <input class="w-30p h-30 input-transparent-color-picker color-bg-transparent" value="#6c5ffc"
		                        id="transparentBgColorID" data-id5="body" data-id6="theme" data-id9="transparentcolor"
		                        [style.background]="color4" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
		                        [(colorPicker)]="color4" (cpSliderDragEnd)="dynamicTranparentBgPrimary($event)" />
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Transparent Bg-Image Style</h4>
		              <div class="skin-body switch_section">
		                <div class="switch-toggle d-flex">
		                  <span class="me-auto ">Bg-Image Primary</span>
		                  <div class="">
		                    <input class="input-transparent-color-picker color-primary-transparent" value="#6c5ffc"
		                      id="transparentBgImgPrimaryColorID" data-id="bg-color" data-id1="bg-hover" data-id2="bg-border"
		                      data-id3="primary" data-id4="primary" data-id9="transparentcolor" [style.background]="color5"
		                      [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [(colorPicker)]="color5"
		                      (cpSliderDragEnd)="dynamicTranparentImgPrimary($event)">
		                  </div>
		                </div>
		                <div class="switch-toggle d-flex mt-2">
		                  <a class="bg-img1 bg-img" href="javascript:;" (click)="bgImage($event.target)"><img
		                      src="./assets/images/photos/bg-img1.jpg" alt="Bg-Image" id="bgimage1"></a>
		                  <a class="bg-img2 bg-img" href="javascript:;" (click)="bgImage($event.target)"><img
		                      src="./assets/images/photos/bg-img2.jpg" alt="Bg-Image" id="bgimage2"></a>
		                  <a class="bg-img3 bg-img" href="javascript:;" (click)="bgImage($event.target)"><img
		                      src="./assets/images/photos/bg-img3.jpg" alt="Bg-Image" id="bgimage3"></a>
		                  <a class="bg-img4 bg-img" href="javascript:;" (click)="bgImage($event.target)"><img
		                      src="./assets/images/photos/bg-img4.jpg" alt="Bg-Image" id="bgimage4"></a>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Leftmenu Layout width styles</h4>
		              <div class="skin-body">
		                <div class="switch_section">
		                  <div class="switch-toggle d-flex mt-4">
		                    <span class="me-auto">Default Leftmenu</span>
		                    <div class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch18"
		                        class="onoffswitch2-checkbox" checked>
		                      <label for="myonoffswitch18" class="onoffswitch2-label"></label>
		                    </div>
		                  </div>
		                  <div class="switch-toggle d-flex mt-2">
		                    <span class="me-auto">Boxed</span>
		                    <div class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch19"
		                        class="onoffswitch2-checkbox">
		                      <label for="myonoffswitch19" class="onoffswitch2-label"></label>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="swichermainleft">
		              <h4>Reset All Styles</h4>
		              <div class="skin-body">
		                <div class="switch_section my-4">
		                  <button class="btn btn-danger btn-block" (click)="reset()" type="button">Reset All</button>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </perfect-scrollbar>
		    </div>
		  </div>
		</div>
		<!-- End Switcher -->