.switch_section input {
    width: 1.5rem;
    height: 1.5rem !important;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    border: 1px solid #0597ff;
    color: transparent;
  }
  