<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Task Board</h4>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="btn-list">
                <a href="javascript:;" class="btn btn-primary " (click)="openDialog()"><i class="feather feather-plus fs-15 my-auto me-2"></i>Create New Task</a>
                <a href="javascript:;" class="btn btn-light" placement="top" ngbTooltip="E-mail"> <i class="feather feather-mail"></i> </a>
                <a href="javascript:;" class="btn btn-light" placement="top" ngbTooltip="Contact"> <i class="feather feather-phone-call"></i> </a>
                <a href="javascript:;" class="btn btn-primary" placement="top" ngbTooltip="Info"> <i class="feather feather-info"></i> </a>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->