<app-page-header [title]="'Alerts'"></app-page-header>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Default alerts</h3>
            </div>
            <div class="card-body">
                <div *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Links in alerts</h3>
            </div>
            <div class="card-body">
                <ngb-alert type="success">
                    <strong>Well done!</strong> You successfully read <a href="javascript:void(0);" class="alert-link">this important alert message.</a>
                </ngb-alert>
                <ngb-alert type="info">
                    <strong>Heads up!</strong> This<a href="javascript:void(0);" class="alert-link"> alert needs your attention,</a> but it's not super important.
                </ngb-alert>
                <ngb-alert type="warning">
                    <strong>Warning! </strong> Better check yourself, you're <a href="javascript:void(0);" class="alert-link">not looking too good.</a>
                </ngb-alert>
                <ngb-alert type="danger">
                    <strong>Oh snap!</strong> <a href="javascript:void(0);" class="alert-link">Change a few things up </a>and try submitting again.
                </ngb-alert>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tabs Alerts</h3>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills nav-with-alerts">
                        <li class="col-lg-3">
                            <a (click)="changeInfoMessage()">
                                <div class="alert alert-info">
                                    Informations
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3">
                            <a (click)="changeSuccessMessage()">
                                <div class="alert alert-success">
                                    Success
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3">
                            <a (click)="changeWarningMessage()">
                                <div class="alert alert-warning">
                                    Warning
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3">
                            <a (click)="changeDangerMessage()">
                                <div class="alert alert-danger">
                                    Danger
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade {{InfoMessage? 'active show' : false}}" id="info">
                            <ngb-alert #selfClosingAlert *ngIf="InfoMessage" type="info" (closed)="InfoMessage = false">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nec arcu at
                                    faucibus. Duis justo urna, adipiscing quis turpis non, dictum hrightrerit ipsum.
                                    Fusce non viverra erat. Curabitur sit amet ante dui. Donec congue molestie mi a
                                    varius. Susprightisse potenti. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Aliquam ornare quam eu ultricies bibrightum. Cras
                                    ante augue, pharetra eget ultricies eu, aliquam eu velit. Phasellus mattis vitae
                                    justo pretium tempus. Duis vitae felis et sem tristique suscipit. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit</p>
                            </ngb-alert>
                        </div>
                        <div class="tab-pane fade {{successMessage? 'active show' : false}}" id="successs">
                            <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = false">
                                <p>Nulla magna sapien, ullamcorper nec dolor id, gravida venenatis velit. Aliquam et
                                    malesuada metus. Sed vitae turpis pharetra nunc dignissim ultricies et sit amet
                                    lacus. Cras gravida felis mauris, a pellentesque augue interdum ac. In varius
                                    facilisis ante, nec viverra libero commodo ac. Maecenas tempus, elit nec aliquet
                                    fermentum, tellus odio auctor sapien, eu scelerisque purus turpis quis eros. Morbi
                                    id ante diam. Phasellus aliquet purus id odio mollis dignissim. Proin sagittis,
                                    risus a ullamcorper dapibus, velit enim adipiscing nulla, vel facilisis ipsum dui
                                    quis diam. Aliquam ullamcorper accumsan felis id consequat. Nullam vehicula ut mi
                                    eget porta.</p>
                            </ngb-alert>
                        </div>
                        <div class="tab-pane fade {{WarningMessage? 'active show' : false}}" id="warning">
                            <ngb-alert #selfClosingAlert *ngIf="WarningMessage" type="warning" (closed)="WarningMessage = false">
                                <p>Curabitur varius euismod nisi ac lacinia. Curabitur nec urna adipiscing, fermentum
                                    augue id, commodo nisl. Quisque ut convallis est. Susprightisse tellus nisi, tempus
                                    eu nulla quis, laoreet imperdiet ante. Vivamus in lorem purus. Integer luctus elit
                                    et metus condimentum porta. Susprightisse viverra sit amet mauris vel elementum.
                                    Fusce lorem arcu, accumsan non odio vel, vestibulum pharetra odio. Sed non mollis
                                    mi, ac lacinia nunc. Cras eleifright massa velit, tincidunt tempor arcu sodales at.
                                    Nam sit amet erat enim. Mauris placerat suscipit odio, vitae gravida purus
                                    bibrightum sed. Susprightisse a nunc quis libero rutrum mattis at ac metus. In ac
                                    risus eleifright, vestibulum mi eget, dapibus nulla. Nunc diam eros, convallis a
                                    sagittis non, rhoncus non nunc. Maecenas in eleifright quam.</p>
                            </ngb-alert>
                        </div>
                        <div class="tab-pane fade {{DangerMessage? 'active show' : false}}" id="error">
                            <ngb-alert #selfClosingAlert *ngIf="DangerMessage" type="danger" (closed)="DangerMessage = false">
                                <p>Sed quis dapibus nunc. Proin vestibulum libero elit, gravida tincidunt mauris
                                    tincidunt blandit. Donec non ultrices neque, nec sollicitudin elit. Curabitur
                                    volutpat nulla vel mauris vestibulum, tempor ultrices quam ullamcorper. Fusce
                                    ultricies elementum pretium. In vel consectetur leo, nec rutrum velit. Fusce
                                    fermentum pulvinar nibh. Ut posuere ante sed luctus egestas. Aenean ut suscipit
                                    tortor.</p>
                            </ngb-alert>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Alerts Popovers</h3>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-success btn-block" container="body" placement="bottom"
                            popoverTitle="alert sucess"
                            ngbPopover="Well done! You successfully read this important alert message..">
                            Show success
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-info btn-block" container="body" placement="top"
                            popoverTitle="alert info"
                            ngbPopover="Heads up! This alert needs your attention, but it's not super important...">
                            Show info
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-warning btn-block" container="body" placement="top"
                            popoverTitle="alert warning" ngbPopover="Warning! Best check yo self, you're not looking too good..">
                            Show warning
                            </button>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-danger btn-block" container="body" placement="bottom"
                            popoverTitle="alert danger" ngbPopover="Oh snap! Change a few things up and try submitting again.">
                            Show danger
                        </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-secondary btn-block" data-container="body" placement="top"
                            popoverTitle="alert secondary"
                            ngbPopover="Error! Please Check u r emial id..">
                            Show secondary
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mt-2 mb-2">
                            <button type="button" class="btn btn-primary btn-block" data-container="body" placement="top"
                            popoverTitle="alert primary"
                            ngbPopover="Cool! This alert will close in 3 seconds. The data-delay attribute is in milliseconds.">
                            Show primary
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Alerts style</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <ngb-alert type="success" *ngIf="alertStyleSuccess" (close)="alertStyleSuccess = false">
                                <strong>Success Message</strong>
                                <hr class="message-inner-separator">
                                <p>You successfully read this important alert message.</p>
                            </ngb-alert>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <ngb-alert type="info" *ngIf="alertStyleInfo" (close)="alertStyleInfo = false">
                                <strong>Info Message</strong>
                                <hr class="message-inner-separator">
                                <p>This alert needs your attention, but it's not super important.</p>
                            </ngb-alert>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <ngb-alert type="warning" *ngIf="alertStyleWarning" (close)="alertStyleWarning = false">
                                <strong>Warning Message</strong>
                                <hr class="message-inner-separator">
                                <p>Best check yo self, you're not looking too good.</p>
                            </ngb-alert>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <ngb-alert type="danger" *ngIf="alertStyleDanger" (close)="alertStyleDanger = false">
                                <strong>Danger Message</strong>
                                <hr class="message-inner-separator">
                                <p>Change a few things up and try submitting again.</p>
                            </ngb-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Alert with icon</h3>
                </div>
                <div class="card-body">
                    <ngb-alert type="success" *ngIf="alertIconSuccess" (close)="alertIconSuccess = false">
                        <i class="fa fa-check-circle-o me-2" aria-hidden="true"></i> Well done! You successfully read this
                        important alert message.
                    </ngb-alert>
                    <ngb-alert type="info" *ngIf="alertIconInfo" (close)="alertIconInfo = false">
                        <i class="fa fa-bell-o me-2" aria-hidden="true"></i>Heads up! This
                        alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert type="warning" *ngIf="alertIconWarning" (close)="alertIconWarning = false">
                        <i class="fa fa-exclamation me-2" aria-hidden="true"></i> Warning!
                        Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert type="danger" *ngIf="alertIconDanger" (close)="alertIconDanger = false">
                        <i class="fa fa-frown-o me-2" aria-hidden="true"></i>Oh snap!Change
                        a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Row -->