<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Leave Settings</h4>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
            <div class="btn-list">
                <a href="javascript:;" class="btn btn-primary me-3" toggle="modal" (click)="open(content)">Add Leave Type</a>
                <button  class="btn btn-light" placement="top" ngbTooltip="E-mail"> <i class="feather feather-mail"></i> </button>
                <button  class="btn btn-light" placement="top" ngbTooltip="Contact"> <i class="feather feather-phone-call"></i> </button>
                <button  class="btn btn-primary" placement="top" ngbTooltip="Info"> <i class="feather feather-info"></i> </button>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title">Leaves Types</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-leavestypes">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">Leaves Type</th>
                                <th class="border-bottom-0 text-center">No.of Leaves</th>
                                <th class="border-bottom-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Casual Leaves</td>
                                <td class="text-center font-weight-semibold">14</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Sick Leaves</td>
                                <td class="text-center font-weight-semibold">07</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Maternity Leaves</td>
                                <td class="text-center font-weight-semibold">20</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Paternity Leaves</td>
                                <td class="text-center font-weight-semibold">00</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Annual Leaves</td>
                                <td class="text-center font-weight-semibold">00</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Unpaid Leaves</td>
                                <td class="text-center font-weight-semibold">00</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Other Leaves</td>
                                <td class="text-center font-weight-semibold">00</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:;" class="action-btns1" toggle="modal" ><i  class="feather feather-eye primary text-primary"></i></a>
                                        <a href="javascript:;" class="action-btns1" toggle="tooltip" placement="top" ngbTooltip="Delete"><i
                                                class="feather feather-trash-2 text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Add leave Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add New Leaves</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
            <span class="nav-link">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-label">Type Of Leaves</label>
            <input class="form-control" placeholder="Text">
        </div>
        <div class="form-group">
            <label class="form-label">Number Of Days</label>
            <input class="form-control" placeholder="Numbers">
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-outline-primary me-2" (click)="modal.dismiss('Cross click')"
            data-bs-dismiss="modal">Close</a>
        <a href="javascript:;" class="btn btn-success" (click)="modal.dismiss('Cross click')">Save</a>
    </div>
</ng-template>
<!-- Add leave Modal -->

<!-- Edit leave Modal -->
<!-- <div class="modal fade"  id="editleavemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leaves</h5>
                <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Type Of Leaves</label>
                    <input class="form-control" placeholder="Text">
                </div>
                <div class="form-group">
                    <label class="form-label">Number Of Days</label>
                    <input class="form-control" placeholder="Numbers">
                </div>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                <button  class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Edit leave Modal -->