<!--APP-SIDEBAR-->
<div class="app-sidebar__overlay" (click)="sidebarClose()"></div>
<!-- Sidemenu -->
<aside class="sticky" [ngClass]="{ 'sticky-pin': scrolled }">
  <div class="app-sidebar">
    <div class="app-sidebar__logo">
      <a
        class="header-brand"
        routerLink="/hr-dashboard/dashboard"
        href="javascript:;"
      >
        <img
          src="./assets/images/brand/logo-super-food.png"
          style="max-width: 80% !important;"
          class="header-brand-img desktop-lgo"
          alt="logo-super-food"
        />
        <img
          src="./assets/images/brand/logo-super-food.png"
          class="header-brand-img dark-logo"
          style="max-width: 80% !important;"
          alt="Dayonelogo"
        />
        <img
          src="./assets/images/brand/logo-super-food-1.png"
          class="header-brand-img mobile-logo"
          alt="Dayonelogo"
        />
        <img
          src="./assets/images/brand/logo-super-food-1.png"
          class="header-brand-img darkmobile-logo"
          alt="Dayonelogo"
        />
      </a>
    </div>
    <div class="app-sidebar3">
      <perfect-scrollbar>
        <div class="main-menu">
          <div class="app-sidebar__user">
            <div class="dropdown user-pro-body text-center">
              <div class="user-pic">
                <img
                  src="./assets/images/users/16.jpg"
                  alt="user-img"
                  class="avatar-xxl rounded-circle mb-1"
                />
              </div>
              <div class="user-info">
                <h5 class="mb-2">Abigali kelly</h5>
                <span class="text-muted app-sidebar__user-name text-sm"
                  >App Developer</span
                >
              </div>
            </div>
          </div>
          <!-- left-arrow -->
          <div class="slide-left disabled" id="slide-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#7b8191"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
              />
            </svg>
          </div>
          <ul class="side-menu">
            <!-- 1st Level Menu -->
            <li
              *ngFor="let menuItem of menuItems"
              [ngClass]="{
                'side-item side-item-category mt-4': menuItem.headTitle,
                slide: menuItem.title,
                active: menuItem.selected,
                'is-expanded': menuItem.active
              }"
            >
              <div *ngIf="menuItem.headTitle">{{ menuItem.headTitle }}</div>

              <!-- has-Link -->
              <a
                class="side-menu__item"
                [routerLink]="!menuItem.type ? null : [menuItem.path]"
                *ngIf="menuItem.type === 'link'"
                routerLinkActive="active"
              >
                <span class="shape1"></span>
                <span class="shape2"></span>
                <i class="fe fe-{{ menuItem.icon }} sidemenu_icon"></i>
                <span class="side-menu__label">{{ menuItem.title }}</span>
              </a>
              <!-- empty path -->
              <a
                class="side-menu__item"
                href="javascript:;"
                *ngIf="menuItem.type === 'empty'"
                routerLinkActive="active"
              >
                <span class="shape1"></span>
                <span class="shape2"></span>
                <i class="fe fe-{{ menuItem.icon }} sidemenu_icon"></i>
                <span class="side-menu__label">{{ menuItem.title }}</span>
              </a>
              <!-- external -->
              <a
                class="side-menu__item"
                routerLinkActive="active"
                target="_blank"
                [routerLink]="!menuItem.type ? null : [menuItem.path]"
                *ngIf="menuItem.type === 'external'"
              >
                <i class="fe fe-{{ menuItem.icon }} sidemenu_icon"></i>
                <span class="side-menu__label">{{ menuItem.title }}</span>
                <span
                  class="badge badge-sm bg-{{ menuItem.badgeClass }} badge-hide"
                  >{{ menuItem.badgeValue }}</span
                >
              </a>
              <!-- has-Sub -->
              <a
                class="side-menu__item with-sub"
                [routerLink]="menuItem.type ? null : [menuItem.path]"
                *ngIf="menuItem.type === 'sub'"
                (click)="toggleNavActive(menuItem)"
                [ngClass]="{ active: menuItem.selected }"
              >
                <span class="shape1"></span>
                <span class="shape2"></span>
                <i class="fe fe-{{ menuItem.icon }} sidemenu_icon"></i>
                <span class="side-menu__label">{{ menuItem.title }}</span>
                <span
                  class="badge bg-{{ menuItem.badgeClass }}"
                  *ngIf="menuItem.badgeClass && menuItem.badgeValue"
                >
                  {{ menuItem.badgeValue }}
                </span>
                <i
                  class="angle fe fe-chevron-right"
                  [ngClass]="{ 'd-none': menuItem.badgeClass }"
                ></i>
              </a>
              <!-- 2nd Level menu -->
              <ul
                class="slide-menu"
                *ngIf="menuItem.children"
                [ngClass]="{ open: menuItem.active }"
              >
                <li
                  *ngFor="let childrenItem of menuItem.children"
                  class="sub-slide"
                  [ngClass]="{ 'is-expanded': childrenItem.active }"
                >
                  <!-- link -->
                  <a
                    class="slide-item"
                    routerLinkActive="active"
                    [routerLink]="
                      !childrenItem.type ? null : [childrenItem.path]
                    "
                    *ngIf="childrenItem.type === 'link'"
                  >
                    {{ childrenItem.title }}
                  </a>
                  <!-- empty -->
                  <a
                    class="slide-item"
                    routerLinkActive="active"
                    href="javascript:;"
                    *ngIf="childrenItem.type === 'empty'"
                  >
                    {{ childrenItem.title }}
                  </a>

                  <!-- sub -->
                  <a
                    href="javascript:;"
                    class="sub-side-menu__item with-sub"
                    [routerLink]="
                      childrenItem.type ? null : [childrenItem.path]
                    "
                    *ngIf="childrenItem.type === 'sub'"
                    (click)="toggleNavActive(childrenItem)"
                    [ngClass]="{ active: childrenItem.selected }"
                  >
                    <span class="sub-side-menu__label">
                      {{ childrenItem.title }}</span
                    >
                    <i class="sub-angle fe fe-chevron-right"></i>
                  </a>

                  <!-- 3rd Level menu -->
                  <ul
                    class="sub-slide-menu"
                    *ngIf="childrenItem.children"
                    [ngClass]="{ open: childrenItem.active}"
                  >
                    <li
                      *ngFor="let childrenSubItem of childrenItem.children"
                      [ngClass]="{ 'is-expanded': childrenSubItem.active , 'sub-slide2' : childrenItem.children }"
                    >
                      <!-- link -->
                      <a
                        class="sub-slide-item"
                        routerLinkActive="active"
                        [routerLink]="
                          !childrenSubItem.type ? null : [childrenSubItem.path]
                        "
                        *ngIf="childrenSubItem.type === 'link'"
                      >
                        {{ childrenSubItem.title }}
                      </a>
                      <!-- empty -->
                      <a
                        class="sub-slide-item"
                        href="javascript:;"
                        *ngIf="childrenSubItem.type === 'empty'"
                      >
                        {{ childrenSubItem.title }}
                      </a>
                      <!-- sub -->
                      <a
                        class="sub-slide-item with-sub"
                        href="javascript:;"
                        [ngClass]="{ active: childrenSubItem.selected }"
                        [routerLink]="
                          childrenSubItem.type ? null : [childrenSubItem.path]
                        "
                        *ngIf="childrenSubItem.type === 'sub'"
                        (click)="toggleNavActive(childrenSubItem)"
                      >
                        <span class="sub-side-menu__label2">
                          {{ childrenSubItem.title }}
                        </span>
                        <i class="sub-angle2 fe fe-chevron-right"></i>
                      </a>

                      <!--4th level -->
                      <ul
                        class="sub-slide-menu2"
                        *ngIf="childrenSubItem.children"
                        [ngClass]="{ open: childrenSubItem.active }"
                      >
                        <li
                          class=" "
                          *ngFor="
                            let childrenSubItem1 of childrenSubItem.children
                          "
                          [ngClass]="{ 'is-expanded': childrenSubItem1.active }"
                        >
                          <a
                            class="sub-slide-item2"
                            routerLinkActive="active"
                            [routerLink]="
                              !childrenSubItem1.type
                                ? null
                                : [childrenSubItem1.path]
                            "
                            *ngIf="childrenSubItem1.type === 'link'"
                          >
                            {{ childrenSubItem1.title }}</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <!-- right-arrow  -->
          <div class="slide-right" id="slide-right">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#7b8191"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
              />
            </svg>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</aside>
<!-- End Sidemenu -->
