.slide-menu{
    display: none !important;
}

.slide-menu.open,
.sub-slide-menu2.open,
.sub-slide-menu2.open{
    display: block !important;
}

@media (min-width: 992px){

    .horizontal-hover .side-menu__item.with-sub,
    .horizontal-hover .sub-side-menu__item.with-sub,
    .horizontal-hover .sub-side-menu__item2.with-sub
    {
        pointer-events: none;
    }
    .horizontal-hover .slide-menu.open,
    .horizontal-hover .sub-slide-menu2.open,
    .horizontal-hover .sub-slide-menu2.open{
        display: none !important;
    }

    .horizontal perfect-scrollbar{
        position: static;
    }

    .horizontal .hor-menu li.nav-item .nav-link{
        min-width: max-content;
    }
}
body:not(.horizontal){
    #slide-right{
        display: none;
    }
}



