<!-- Page -->
<div class="page relative error-page3">
    <div class="row no-gutters">
        <div class="col-md-6 h-100vh d-xl-block d-none">
            <div class="cover-image log-image" style="background-image: url(../assets/images/photos/login3.jpg)">
                <div class="container">
                    <div class="customlogin-imgcontent">
                        <h2 class="mb-3 fs-35 text-white">Welcome To Dayone</h2>
                        <p class="text-white-50">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 bg-white scroll">
            <div class="container">
                <div class="customlogin-content">
                    <div class="card-body pt-lg-9">
                        <div class="text-center mb-4">
                            <span class="avatar avatar-xxl brround"
                                style="background-image: url(../assets/images/users/16.jpg)"></span>
                        </div>
                        <div class="m-4 d-none d-lg-block text-center">
                            <h4>Abigali kelly</h4>
                        </div>
                        <div class="form-group">
                            <div class="input-group" id="Password-toggle">
                                <a href="javascript:;" class="input-group-text">
                                    <i class="fe fe-eye-off" aria-hidden="true"></i>
                                </a>
                                <input class="form-control" type="password" placeholder="Password">
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-primary btn-block"><i class="fe fe-arrow-right"></i> Unlock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->