.dropdown-toggle::after {
    display: none;
}

::ng-deep {

    .rtl {
        app-header {

            .dropdown-menu.dropdown-menu-end,
            .dropdown-menu[data-popper-placement^=top],
            .dropdown-menu[data-popper-placement^=end],
            .dropdown-menu[data-popper-placement^=bottom],
            .dropdown-menu[data-popper-placement^=start] {
                left: 0px ;
                right: auto ;
            }
        }
    }
}