<app-page-header [title]="'Headers'"></app-page-header>

<!-- Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="">
                <div class="header header-style1 border-bottom-0">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" routerLink="/hr-dashboard/dashboard">
                                <img src="./assets/images/brand/logo.png" class="header-brand-img desktop-lgo"
                                    alt="Dayonelogo">
                                <img src="./assets/images/brand/logo-white.png" class="header-brand-img dark-logo"
                                    alt="Dayonelogo">
                            </a>
                            <div class="d-flex order-lg-2 ms-auto">
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon requestfullscreen">
                                        <i class="fe fe-maximize floating"></i>
                                    </a>
                                </div>
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon">
                                        <i class="fe fe-bell floating"></i>
                                        <span class="nav-unread bg-danger"></span>
                                    </a>
                                </div>
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon">
                                        <i class="fe fe-mail floating"></i>
                                        <span class=" nav-unread badge badge-warning  badge-pill">2</span>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a href="javascript:;" class="nav-link pe-0 leading-none mt-1">
                                        <span class="avatar avatar-md brround"
                                            style="background-image: url(./assets/images/users/16.jpg)"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="javascript:;" class="header-toggler d-lg-none me-3 me-lg-0" data-bs-toggle="collapse"
                                data-bs-target="#headerMenuCollapse1">
                                <span class="header-toggler-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="">
                <div class="header py-4 bg-primary header-style2 color-header border-bottom-0">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" routerLink="/hr-dashboard/dashboard">
                                <img src="./assets/images/brand/logo.png" class="header-brand-img desktop-lgo"
                                    alt="Dayonelogo">
                                <img src="./assets/images/brand/logo-white.png" class="header-brand-img dark-logo"
                                    alt="Dayonelogo">
                            </a>
                            <div class="d-flex order-lg-2 ms-auto">
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon requestfullscreen">
                                        <i class="fe fe-maximize floating"></i>
                                    </a>
                                </div>
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon">
                                        <i class="fe fe-bell floating"></i>
                                        <span class="nav-unread bg-danger"></span>
                                    </a>
                                </div>
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon">
                                        <i class="fe fe-mail floating"></i>
                                        <span class=" nav-unread badge badge-warning  badge-pill">2</span>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a href="javascript:;" class="nav-link pe-0 leading-none mt-1">
                                        <span class="avatar avatar-md brround"
                                            style="background-image: url(./assets/images/users/16.jpg)"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="javascript:;" class="header-toggler d-lg-none ms-3 ms-lg-0 text-white"
                                data-bs-toggle="collapse" data-bs-target="#headerMenuCollapse2">
                                <span class="header-toggler-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="">
                <!--app header-->
                <div class="header header-style3 border-bottom-0">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <a class="header-brand" routerLink="/hr-dashboard/dashboard">
                                <img src="./assets/images/brand/logo.png" class="header-brand-img desktop-lgo"
                                    alt="Dayonelogo">
                                <img src="./assets/images/brand/logo-white.png" class="header-brand-img dark-logo"
                                    alt="Dayonelogo">
                            </a>
                            <div class="d-flex order-lg-2 ms-auto">
                                <a href="javascript:;" data-bs-toggle="search" class="nav-link nav-link-lg d-md-none navsearch">
                                    <i class="fe fe-search"></i>
                                </a>
                                <div class="mt-1">
                                    <form class="form-inline">
                                        <div class="search-element d-none d-lg-flex">
                                            <input type="search" class="form-control header-search"
                                                placeholder="Search…" aria-label="Search" tabindex="1">
                                            <button class="btn btn-primary-color">
                                                <i class="fe fe-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- SEARCH -->
                                <div class="dropdown   header-fullscreen ps-5 mt-1">
                                    <a class="nav-link icon full-screen-link p-0" id="fullscreen-button">
                                        <i class="fe fe-maximize"></i>
                                    </a>
                                </div>
                                <div class="dropdown ps-4 d-md-block d-none mt-1">
                                    <a class="nav-link icon">
                                        <i class="fe fe-bell floating"></i>
                                        <span class="nav-unread bg-danger"></span>
                                    </a>
                                </div>
                                <div class="dropdown mt-1">
                                    <a href="javascript:;" class="nav-link pe-0 ps-0 leading-none">
                                        <span>
                                            <img src="./assets/images/users/16.jpg" alt="img"
                                                class="avatar avatar-md brround">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/app header-->
            </div>
        </div>
    </div>
</div>
<!-- End Row-->