<div class="page login-bg">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mb-4">
                                        <span class="avatar avatar-xxl brround"
                                            style="background-image: url(./assets/images/users/16.jpg)"></span>
                                    </div>
                                    <div class="m-4 d-none d-lg-block text-center">
                                        <h4>Abigali kelly</h4>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group" id="Password-toggle">
                                            <a href="javascript:;" class="input-group-text">
                                                <i class="fe fe-eye-off" aria-hidden="true"></i>
                                            </a>
                                            <input class="form-control" type="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="btn btn-primary btn-block"><i class="fe fe-arrow-right"></i>
                                        Unlock</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>