<app-page-header [title]="'Dropdown'"></app-page-header>

<!-- Row -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Single button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-default me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-primary me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-success me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-info me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-warning me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-danger me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Rounded button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-default btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-primary btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-success btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-info btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-warning btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-danger btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-default">Action</button>
                            <button class="btn btn-default me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-primary">Action</button>
                            <button class="btn btn-primary me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-success">Action</button>
                            <button class="btn btn-success me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class=" fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-info">Action</button>
                            <button class="btn btn-info me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-warning">Action</button>
                            <button class="btn btn-warning me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-danger">Action</button>
                            <button class="btn btn-danger me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class=" fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Rounded Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-default">Action</button>
                            <button class="btn btn-pill btn-default me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2 "ngbDropdown>
                            <button class="btn btn-pill btn-primary">Action</button>
                            <button class="btn btn-pill btn-primary me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-success">Action</button>
                            <button class="btn btn-pill btn-success me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-info">Action</button>
                            <button class="btn btn-pill btn-info me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-warning">Action</button>
                            <button class="btn btn-warning btn-pill me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class=" fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-danger">Action</button>
                            <button class="btn btn-pill btn-danger me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Single Square outline button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">

                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-primary me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-success me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-info me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-warning me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-danger me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Rounded button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">

                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-primary btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-success btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-info btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-warning btn-pill me-2" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">

                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-primary">Action</button>
                            <button class="btn btn-outline-primary me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-success">Action</button>
                            <button class="btn btn-outline-success me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-info">Action</button>
                            <button class="btn btn-outline-info me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-warning">Action</button>
                            <button class="btn btn-outline-warning me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-outline-danger">Action</button>
                            <button class="btn btn-outline-danger me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Rounded Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-outline-primary">Action</button>
                            <button class="btn btn-pill btn-outline-primary me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class=" fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-outline-success">Action</button>
                            <button class="btn btn-pill btn-outline-success me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-outline-info">Action</button>
                            <button class="btn btn-pill btn-outline-info me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-outline-warning">Action</button>
                            <button class="btn btn-outline-warning btn-pill me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-pill btn-outline-danger">Action</button>
                            <button class="btn btn-pill btn-outline-danger me-2" ngbDropdownToggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Dropup variation</h3>
            </div>
            <div class="card-body">
                <div class="dropup btn-group mt-2 mb-2" ngbDropdown>
                    <button class="btn btn-primary me-2" ngbDropdownToggle>Dropup1
                        <span class="caret"></span></button>
                    <ul ngbDropdownMenu>
                        <li><a href="javascript:;">HTML</a></li>
                        <li><a href="javascript:;">CSS</a></li>
                        <li><a href="javascript:;">JavaScript</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">About Us</a></li>
                    </ul>
                </div>
                <!-- Split dropup button -->
                <div class="dropup btn-group mt-2 mb-2" ngbDropdown>
                    <button class="btn btn-info me-2" ngbDropdownToggle>Dropup2
                        <span class="caret"></span></button>
                    <ul ngbDropdownMenu>
                        <li><a href="javascript:;">HTML</a></li>
                        <li><a href="javascript:;">CSS</a></li>
                        <li><a href="javascript:;">JavaScript</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Icon Drop Downs dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-facebook btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-facebook"></i> <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-twitter btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-twitter"></i> <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-google btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-google"></i> <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-youtube btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-youtube "></i><span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-vimeo btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-vimeo"></i><span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mt-2 mb-2" ngbDropdown>
                            <button class="btn btn-github btn-pill me-2" ngbDropdownToggle>
                                <i class="fa fa-github"></i> <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>