<app-page-header [title]="'Popover'"></app-page-header>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <!--div-->
        <div class="card mb-4" id="popover">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Default Popover
                </div>
            </div>
            <div class="card-body">

                <div class="form-label mb-2">
                    Static Example
                </div>
                <div class="popover-static-demo mb-4 border br-3 pb-6">
                    <div class="row row-sm">
                        <div class="col-md-6 mt-4">
                            <div class="popover bs-popover-top">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover top</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="popover bs-popover-bottom">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover Bottom</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="popover bs-popover-left">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover Left</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="popover bs-popover-right">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover Right</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-label mb-2">
                    Example
                </div>
                <div class="px-4 bg-light border br-3 pt-4 pb-5">
                    <div class="row row-sm text-center">
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-primary" container="button"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="top" popoverTitle="Popover top">Click me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-success" container="button"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="left" popoverTitle="Popover left">Click me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-danger" container="button"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right" popoverTitle="Popover right">Click me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-warning" container="button"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="bottom" popoverTitle="Popover bottom">Click me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
        <!--div-->
        <div class="card mb-4" id="popover1">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Colored Head Popover
                </div>
            </div>
            <div class="card-body">
                <div class="form-label mb-2">
                    Static Example
                </div>
                <div class="popover-static-demo mb-4">
                    <div class="row row-sm">
                        <div class="col-md-6">
                            <div class="popover popover-head-primary bs-popover-top">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover top</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5 mt-md-0">
                            <div class="popover popover-head-secondary bs-popover-bottom">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover Bottom</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-label mb-2">
                    Example
                </div>
                <div class="px-4 bg-light border br-3 pt-4 pb-5">
                    <div class="row row-sm text-center">
                        <div class="col-sm-6 col-lg-3  mt-3 text-center">
                            <button class="btn btn-primary" container="body"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="top" popoverClass="popover-head-primary" popoverTitle="Popover top">Click
                                me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mt-3 text-center">
                            <button class="btn btn-primary" container="body"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="bottom" popoverClass="popover-head-secondary"
                                popoverTitle="Popover bottom">Click me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
        <!--div-->
        <div class="card" id="popover2">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Full Colored Popover
                </div>
            </div>
            <div class="card-body">
                <div class="form-label mb-2">
                    Static Example
                </div>
                <div class="popover-static-demo mb-4 pb-6">
                    <div class="row row-sm">
                        <div class="col-md-6 mt-4">
                            <div class="popover popover-primary bs-popover-top">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover top</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="popover popover-secondary bs-popover-bottom">
                                <div class="arrow"></div>
                                <h3 class="popover-header">Popover Bottom</h3>
                                <div class="popover-body">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare
                                        sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-label mb-2">
                    Example
                </div>
                <div class="px-4 bg-light border br-3 pb-5 pt-4">
                    <div class="row row-sm text-center">
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-primary" container="body"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="top" popoverClass="popover-primary" popoverTitle="Popover top">Click
                                me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mt-3">
                            <button class="btn btn-primary" container="body"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="bottom" popoverClass="popover-secondary"
                                popoverTitle="Popover bottom">Click me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
    </div>
</div>
<!-- End Row -->