<app-page-header [title]="'Shopping cart'"></app-page-header>
<!-- Row-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 bootstrap snippets">
        <!-- Cart -->
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Shopping Cart</h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive ">
                    <table class="table table-bordered text-nowrap border-top">
                        <thead class="">
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Sub Total</th>
                                <th class="w-5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of shoppingCartList">
                                <td>
                                    <div class="d-flex w-200">
                                        <div>
                                            <img src={{list.productImg}} alt="img" title=""
                                                class="w-7 h-7">
                                        </div>
                                        <h6 class="mb-0 mt-4 font-weight-semibold ms-4">{{list.product}}</h6>
                                    </div>
                                </td>
                                <td><a href="javascript:;">{{list.quantity}}</a></td>
                                <td class="price">{{list.unitPrice}}</td>
                                <td>{{list.subTotal}}</td>
                                <td class="text-center">
                                    <a (click)="remove(list.id)" href="javascript:;" class="remove_cart" placement="top" ngbTooltip="Remove">
                                        <span class="feather feather-trash-2"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Total</td>
                                <td class="total h4 mb-0 font-weight-semibold" colspan="2">$45,795.16</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="float-start mt-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Apply Coupon">
                        <span class="input-group-append">
                            <button class="btn btn-primary">Apply</button>
                        </span>
                    </div>
                </div>
                <div class=" float-end">
                    <a routerLink="/ecommerce/products/" class="btn btn-info mt-2 me-2"><i class="fe fe-arrow-left"></i> Continue
                        Shopping</a>
                    <a href="javascript:;" class="btn btn-primary mt-2 me-2">Update Cart</a>
                    <a href="javascript:;" class="btn btn-secondary mt-2">Checkout <i class="fe fe-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- End Cart -->
    </div>
</div>
<!-- End Row-->