<app-page-header [title]="'User list01'"></app-page-header>
<!-- Row -->
<div class="row flex-lg-nowrap">
    <div class="col-12">
        <div class="row flex-lg-nowrap">
            <div class="col-12 mb-3">
                <div class="e-panel card">
                    <div class="card-body">
                        <div class="e-table">
                            <div class="table-responsive table-lg mt-3">
                                <table class="table table-bordered border-top text-nowrap" id="example1">
                                    <thead>
                                        <tr>
                                            <th class="align-top border-bottom-0 wd-5"></th>
                                            <th class="border-bottom-0 w-20">User</th>
                                            <th class="border-bottom-0 w-15">Date of joining</th>
                                            <th class="border-bottom-0 w-30">Performance</th>
                                            <th class="border-bottom-0 w-10">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user1 of userlist01Data">
                                            <td class="align-middle">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        name="example-checkbox2" value="option2">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </td>
                                            <td class="align-middle">
                                                <div class="d-flex">
                                                    <span class="avatar brround avatar-md d-block"
                                                        style="background-image: url({{user1.img}})"></span>
                                                    <div class="ms-3 mt-1">
                                                        <h6 class="mb-0 font-weight-semibold">{{user1.name}}</h6>
                                                        <small class="">{{user1.designation}}</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-nowrap align-middle"><span>{{user1.dateOfJoin}}</span></td>
                                            <td class="text-nowrap align-middle">
                                                <div class="float-end">
                                                    <h6 class="mb-2 ms-4 font-weight-semibold">{{user1.performance}}%</h6>
                                                </div>
                                                <!-- <div class="progress progress-sm mb-0 mt-1">
                                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                                </div> -->
                                                <ngb-progressbar type="primary" height="0.5rem" value={{user1.performance}}></ngb-progressbar>
                                            </td>
                                            <td class="align-middle">
                                                <div class="btn-group align-top">
                                                    <button class="btn btn-sm btn-white">Edit</button>
                                                    <button class="btn btn-sm btn-white"><span
                                                            class="feather feather-trash-2 text-muted fs-16" (click)="remove(user1.id)"></span></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->