<div class="horizontalMenucontainer">
    <app-switcher></app-switcher>
    <div class="page">
        <div class="page-main">
            <!-- // header -->
            <app-header></app-header>
            <!-- //sidebar -->
            <app-sidebar appHoverEffectSidebar></app-sidebar>

            <div class="app-content main-content" >
                <div class="side-app main-container" [ngClass]="{'pt-60' : scrolled}" (click)="toggleSwitcher()">
                    <!-- // contetnt  -->
                    <router-outlet >
                        <app-loader></app-loader>
                    </router-outlet>
                </div>  
            </div>
        </div>
        <app-right-sidebar></app-right-sidebar>
        <app-footer></app-footer>
    </div>
</div>