::ng-deep{
    @media screen and (min-width:992px) {
        .horizontal .pt-60{
            padding-top: 54px;
        }
    }
    body:not(.horizontal) .side-app.main-container{
        padding-top: 84px;
    }
    @media (max-width:991.98px) {
        .main-content.hor-content{
            padding-top: 115px;
        }
    }
}