<app-page-header [title]="'Cards'"></app-page-header>

<!-- Row-->
<div class="row">
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><a class="card-link" href="javascript:;">Card link</a> <a class="card-link" href="javascript:;">Another
                    link</a>
            </div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card overflow-hidden">
            <img alt="image" src="./assets/images/photos/10.jpg">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="javascript:;">Card link</a> <a class="card-link" href="javascript:;">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Featured
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Featured
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Featured
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Quote
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Button</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card text-end">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card text-center">
            <div class="card-header border-bottom-0">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:;">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;">Link</a>
                    </li>
                    <li class="nav-item">
                        <a aria-disabled="true" class="nav-link disabled" href="javascript:;" tabindex="-1">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills card-header-pills mb-6">
                    <li class="nav-item">
                        <a class="nav-link active d-block" href="javascript:;">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-block" href="javascript:;">Link</a>
                    </li>
                    <li class="nav-item">
                        <a aria-disabled="true" class="nav-link disabled d-block" href="javascript:;" tabindex="-1">Disabled</a>
                    </li>
                </ul>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a
                    class="btn btn-primary" href="javascript:;">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed1">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Basic card</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle1()" [attr.aria-expanded]="!isCollapsed1">
                        <i class="fe fe-chevron-{{ !isCollapsed1 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle1()" [attr.aria-expanded]="!isClosed1">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed1">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
            <div class="card-footer">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed2">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Basic card</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2">
                        <i class="fe fe-chevron-{{ !isCollapsed2 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle2()" [attr.aria-expanded]="!isClosed2">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed2">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
            <div class="card-footer" [(ngbCollapse)]="isCollapsed2">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card overflow-hidden" [(ngbCollapse)]="isClosed3">
            <div class="card-header bg-primary ">
                <h3 class="card-title text-white">Basic color card-header</h3>
                <div class="card-options ">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle3()" [attr.aria-expanded]="!isCollapsed3">
                        <i class="text-white fe fe-chevron-{{ !isCollapsed3 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle3()" [attr.aria-expanded]="!isClosed3">
                        <i class="text-white fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed3">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
            <div class="card-footer" [(ngbCollapse)]="isCollapsed3">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card overflow-hidden" [(ngbCollapse)]="isClosed4">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Basic color card-footer</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle4()" [attr.aria-expanded]="!isCollapsed4">
                        <i class="fe fe-chevron-{{ !isCollapsed4 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle4()" [attr.aria-expanded]="!isClosed4">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed4">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
            <div class="card-footer bg-info " [(ngbCollapse)]="isCollapsed4">
                <div class="text-white">Basic card footer</div>
            </div>
        </div>
    </div>
</div>
<!--End Row-->

<!-- Row-->
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card text-white bg-primary" [(ngbCollapse)]="isClosed5">
            <div class="card-header  border-transparent">
                <h3 class="card-title ">primary card title</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle5()" [attr.aria-expanded]="!isCollapsed5">
                        <i class="text-white fe fe-chevron-{{ !isCollapsed5 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle5()" [attr.aria-expanded]="!isClosed5">
                        <i class="text-white fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed5">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card text-white bg-secondary" [(ngbCollapse)]="isClosed6">
            <div class="card-header border-transparent">
                <h3 class="card-title ">Secondary card title</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle6()" [attr.aria-expanded]="!isCollapsed6">
                        <i class="text-white fe fe-chevron-{{ !isCollapsed6 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle6()" [attr.aria-expanded]="!isClosed6">
                        <i class="text-white fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed6">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Panel with custom buttons</h3>
                <div class="card-options">
                    <a href="javascript:;" class="btn btn-primary btn-sm">Action 1</a>
                    <a href="javascript:;" class="btn btn-secondary btn-sm ms-2">Action 2</a>
                </div>
            </div>
            <div class="card-body">
                No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
                not know how to pursue pleasure rationally encounter consequences that are extremely painful actual
                teachings of the great explorer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with search form</h3>
                <div class="card-options">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Search something..."
                                name="s">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
                not know how to pursue pleasure rationally encounter consequences that are extremely painful actual
                teachings of the great explorer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed7">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with alert</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle7()" [attr.aria-expanded]="!isCollapsed7">
                        <i class="fe fe-chevron-{{ !isCollapsed7 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle7()" [attr.aria-expanded]="!isClosed7">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-alert alert alert-success mb-0">
                Adding action was successful
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed7">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed8">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with alert</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle8()" [attr.aria-expanded]="!isCollapsed8">
                        <i class="fe fe-chevron-{{ !isCollapsed8 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle8()" [attr.aria-expanded]="!isClosed8">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-alert alert alert-danger mb-0">
                Adding action failed
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed8">
                No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
                not know how to pursue pleasure rationally encounter consequences that are extremely painful actual
                teachings of the great explorer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed9">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with loader</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle9()" [attr.aria-expanded]="!isCollapsed9">
                        <i class="fe fe-chevron-{{ !isCollapsed9 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle9()" [attr.aria-expanded]="!isClosed9">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed9">
                <div class="dimmer active">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" [(ngbCollapse)]="isClosed10">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with loader</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle10()" [attr.aria-expanded]="!isCollapsed10">
                        <i class="fe fe-chevron-{{ !isCollapsed10 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle10()" [attr.aria-expanded]="!isClosed10">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed10">
                <div class="dimmer active">
                    <div class="spinner1">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Row-->

<!-- Row-->
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card cardFullScreen" [(ngbCollapse)]="isClosed11" [ngClass]="toggleClass === 'fe fe-minimize'? 'card-fullscreen':''">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">fullscreen button</h3>
                <div class="card-options">
                    <a href="javascript:void(0);" class="card-options-collapse me-2"  (click)="Collapsetoggle11()" [attr.aria-expanded]="!isCollapsed11"><i class="fe fe-chevron-{{ !isCollapsed11 ? 'up' : 'down'}}"></i></a>
                    <a href="javascript:;" id="panel-fullscreen" class="card-options-fullscreen me-2" (click)="fullScreenToggle()">
                        <i class="{{toggleClass}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle11()" [attr.aria-expanded]="!isClosed11">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed11">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card with switch</h3>
                <div class="card-options">
                    <label class="custom-switch m-0">
                        <input type="checkbox" value="1" class="custom-switch-input" checked>
                        <span class="custom-switch-indicator"></span>
                    </label>
                </div>
            </div>
            <div class="card-body">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card overflow-hidden" [(ngbCollapse)]="isClosed12">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Initial collapsed card</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle12()" [attr.aria-expanded]="!isCollapsed12">
                        <i class="fe fe-chevron-{{ !isCollapsed12 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle12()" [attr.aria-expanded]="!isClosed12">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed12">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card" [(ngbCollapse)]="isClosed13">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Built card</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle13()" [attr.aria-expanded]="!isCollapsed13">
                        <i class="fe fe-chevron-{{ !isCollapsed13 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle13()" [attr.aria-expanded]="!isClosed13">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed13">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card overflow-hidden" [(ngbCollapse)]="isClosed14">
            <div class="card-status bg-blue"></div>
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card blue</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle14()" [attr.aria-expanded]="!isCollapsed14">
                        <i class="fe fe-chevron-{{ !isCollapsed14 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle14()" [attr.aria-expanded]="!isClosed14">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed14">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card overflow-hidden" [(ngbCollapse)]="isClosed15">
            <div class="card-status card-status-left bg-red br-bl-7 br-tl-7"></div>
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Card status on left side</h3>
                <div class="card-options">
                     <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle15()" [attr.aria-expanded]="!isCollapsed15">
                        <i class="fe fe-chevron-{{ !isCollapsed15 ? 'up' : 'down'}}"></i>
                    </a>
                    <a href="javascript:;" class="card-options-remove" (click)="Closetoggle15()" [attr.aria-expanded]="!isClosed15">
                        <i class="fe fe-x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed15">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </div>
        </div>
    </div>

</div>